<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="ikideniz" />

  <!-- Dinamik Meta Etiketleri -->
  {% assign page_title = page.title | default: site.title %}
  {% assign page_description = page.description | default: site.description %}
  {% assign page_image = page.image | default: site.image %}

  <title>{{ page_title }}</title>
  <meta name="title" content="{{ page_title }}">
  <meta name="description" content="{{ page_description }}">

 {% if page.description %}
  {% assign description = page.description %}
{% else %}
  {% assign description = page.excerpt | strip_html | truncate: 160 %}
{% endif %}

<!-- Open Graph Meta Tags -->
<meta property="og:title" content="{{ page.title | escape }}">
<meta property="og:description" content="{{ description }}">
<meta property="og:image" content="{{ page.image | absolute_url }}">
<meta property="og:url" content="{{ page.url | absolute_url }}">
<meta property="og:type" content="article">

<!-- Twitter Card Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ page.title | escape }}">
<meta name="twitter:description" content="{{ description }}">
<meta name="twitter:image" content="{{ page.image | absolute_url }}">

  <!-- Schema Markup -->
  <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ page.title }}",
  "description": "{{ page.description }}",
  "author": {
    "@type": "Person",
    "name": "{{ site.author }}",
    "url": "{{ site.url }}"
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{ site.title }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.url }}/images/logo.png",
      "width": 600,
      "height": 60
    }
  },
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  "dateModified": "{{ page.last_modified_at | date_to_xmlschema }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ site.url }}{{ page.url }}"
  },
  "image": {
    "@type": "ImageObject",
    "url": "{{ site.url }}{{ page.image }}",
    "width": 1200,
    "height": 630
  },
  "articleBody": "{{ content | strip_html | truncate: 500 }}",
  "keywords": "{{ page.tags | join: ', ' }}",
  "wordCount": "{{ content | number_of_words }}",
  "inLanguage": "tr"
}
</script>

<script src="https://cdn.jsdelivr.net/lunr/2.3.8/lunr.min.js"></script>

  <!-- CSS Dosyaları -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/base.css">




<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>
