<div class="social-share">
  <div class="share-buttons">
    <a href="https://twitter.com/intent/tweet?text={{ page.description | url_escape }}&url={{ site.url }}{{ page.url | url_escape }}" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-twitter"></i>
      {% if page.lang == "en" %}
        Share on Twitter
      {% else %}
        Twitter'da Paylaş
      {% endif %}
    </a>
    <a href="https://bsky.app/intent/compose?text={{ page.description | url_encode }}%20{{ site.url }}{{ page.url | url_escape }}" target="_blank" rel="noopener noreferrer">
      <i class="fa-brands fa-bluesky"></i>
      {% if page.lang == "en" %}
        Share on Bluesky
      {% else %}
        Bluesky'de Paylaş
      {% endif %}
    </a>
  </div>
</div>
