<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
{% include head.html %}
</head>
<body>
  <div class="site">
    <header class="site-header">
      <div class="title">
        <a class="extra" href="{{ site.baseurl }}/">İKİ DENİZ</a>
      </div>
    </header>
    <nav>
      <ul>
        {% assign current_lang = page.lang %}
        <a href="{{ site.baseurl }}/">{{ site.data.languages[current_lang].Home }}</a>
        <li><a href="{{ site.baseurl }}/about">{{ site.data.languages[current_lang].About }}</a></li>
        <li><a href="{{ site.baseurl }}/contact">{{ site.data.languages[current_lang].Contact }}</a></li>
      </ul>
    </nav>
<main class="site-content">
      {{ content }}
      <div class="social-share">
        <p>Bu sayfayı paylaş:</p>
        <div class="share-buttons">
          <a href="https://twitter.com/intent/tweet?text={{ page.description | url_escape }}&url={{ site.url }}{{ page.url | url_escape }}" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-twitter"></i> Twitter'da Paylaş
          </a>
          <a href="https://bsky.app/intent/compose?text={{ page.description | url_encode }}%20{{ site.url }}{{ page.url | url_escape }}" target="_blank" rel="noopener noreferrer">
            <i class="fas fa-external-link-alt"></i> Bluesky'de Paylaş
          </a>
        </div>
      </div>
    </main>

    <footer class="site-footer">
      <div class="contact">
        <p>
          <a href="http://twitter.com/EaPbyai/" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://bsky.app/profile/uinion.bsky.social" target="_blank" rel="noopener noreferrer">
            <i class="fas fa-external-link-alt"></i>
          </a>
          <a href="{{ "/feed.xml" | relative_url }}" title="RSS Feed" target="_blank" rel="noopener noreferrer">
            <i class="fas fa-rss"></i>
          </a>
        </p>
      </div>
    </footer>
  </div>
  {% include wordcloud.html %}
  <!-- GoatCounter Script -->
  <script data-goatcounter="https://gg123.goatcounter.com/count"
          async src="//gc.zgo.at/count.js"></script>
</body>
</html>
