<!DOCTYPE html>
<html lang="tr">
<head>
  {% include head.html %}
</head>
<body>
  <div class="site">
  
    <header class="site-header">
      <div class="title">
        <a class="extra" href="{{ site.baseurl }}/">İKİ DENİZ</a>
      </div>
      
<nav>
  <ul>
    {% unless page.url == "/" %}
      <li>
        <a href="{{ site.baseurl }}/">
          <i class="fas fa-home"></i> <!-- Ev simgesi -->
          <span class="sr-only">{{ site.data.languages[page.lang].Home }}</span> <!-- Erişilebilirlik için metin -->
        </a>
      </li>
    {% endunless %}
  </ul>
</nav>
      
    </header>
    


<style>
.fa-home {
  font-size: 1.2em; /* Simge boyutu */
  color: #007bff; /* Simge rengi */
}
</style>
    <main class="site-content">  
    
{% unless page.url == "/" %}
        {% assign day = page.date | date: "%-d" %}
        {% assign month = page.date | date: "%m" %}
        {% assign year = page.date | date: "%Y" %}

        {% if page.lang == "tr" %}
          {% assign turkish_months = "Ocak,Şubat,Mart,Nisan,Mayıs,Haziran,Temmuz,Ağustos,Eylül,Ekim,Kasım,Aralık" | split: "," %}
          {% assign month_index = month | minus: 1 %}
          <p class="post-date">
            Yayın Tarihi: {{ day }} {{ turkish_months[month_index] }} {{ year }}
          </p>
        {% else %}
          <p class="post-date">
            Published on: {{ page.date | date: "%B %d, %Y" }}
          </p>
        {% endif %}
      {% endunless %}
      

      {{ content }}

    

  <!-- Katagori kontrolü  -->
      {% unless page.url == "/" %}
  <div id="related-posts">
    <h3>
      {% if page.lang == "en" %}
        Related Posts
      {% else %}
        Aynı Kategorideki Yazılar
      {% endif %}
    </h3>
    
    {% if site.categories[page.category] %}
      <ul>
        {% for post in site.categories[page.category] limit: 3 %}
          {% if post.url != page.url %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    {% else %}
      <p>
        {% if page.lang == "en" %}
          No posts found in this category.
        {% else %}
          Bu kategoride henüz yazı bulunmamaktadır.
        {% endif %}
      </p>
    {% endif %}
  </div>
{% endunless %}

      <div id="tarih-saat">
        <p id="tarih"></p>
        <p id="saat"></p>
      </div>
      
      {% if page.layout == "post" %}
        {% include social-share.html %}
      {% endif %}
      

    </main>

    {% include footer.html %}
  </div>

  <!-- Kelime Bulutu (Sadece Anasayfada Göster) -->
  {% if page.url == "/" %}
    {% include wordcloud.html %}
  {% endif %}

  <!-- GoatCounter Script -->
  <script data-goatcounter="https://gg123.goatcounter.com/count"
          async src="//gc.zgo.at/count.js"></script>

  <!-- JavaScript Dosyası -->
  <script src="{{ '/assets/js/scripts.js' | relative_url }}"></script>
</body>
</html>