---
layout: default
---

  <div id="post">
    <p id="tarih"></p>
    <p id="saat"></p>

    <script type="text/javascript">
      // Şu anki tarih ve saati al
      var now = new Date();

      // Tarihi Türkçe formatında yazdır
      var tarih = now.toLocaleDateString('tr-TR', {
        year: 'numeric',
        month: 'long',
        day: 'numeric',
        weekday: 'long'
      });

      // Saati Türkçe formatında yazdır
      var saat = now.toLocaleTimeString('tr-TR', {
        hour: '2-digit',
        minute: '2-digit',
        second: '2-digit'
      });

      // Tarih ve saat değerlerini HTML elementlerine yazdır
      document.getElementById('tarih').textContent = tarih;
      document.getElementById('saat').textContent = saat;
    </script>
    {{ content }}
  </div>

<div id="related">
    <h2>Related Posts</h2>
    <ul class="posts">
      {% assign current_post_tags = page.tags %}
      {% assign related_posts = site.posts %}
      {% assign filtered_posts = "" | split: "" %} <!-- Boş bir dizi oluştur -->
      {% for post in related_posts %}
        {% if post.url != page.url %}
          {% assign intersect = post.tags | join: ',' | split: ',' | intersect: current_post_tags %}
          {% if intersect.size > 0 %}
            {% assign filtered_posts = filtered_posts | push: post %}
          {% endif %}
        {% endif %}
      {% endfor %}
      {% assign sorted_posts = filtered_posts | sort: "date" | reverse %}
      {% for post in sorted_posts limit:5 %} <!-- Limiti 5 olarak değiştirdik -->
        <li><span>{{ post.date | date: "%d %B %Y" }}</span> &raquo; <a href="{{ post.url | absolute_url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </div>


